################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Heic2Jpg/bin
/Heic2Jpg/obj
